{% extends 'base.html' %}

{% load static %}



{% block content %}

<body>
  
  <header>

    <div class="header-container ">

      <div class="container d-flex flex-column justify-content-center" style="height: 100vh;">

        <div class="text-container mb-5">
          <h1 class="container-typing card-title text-light">Hola,<br>
            mi nombre es Fabian,<br>
            Full Stack Developer
          </h1>
          <br>
          <a href="#" class="iconhover"><i class="icon bi bi-linkedin text-light fs-3" ></i></a>
          <a href="#" class="iconhover"><i class="icon bi bi-github text-light fs-3 m-4"></i></a>
          <a href="#" class="iconhover"><i class="icon bi bi-instagram text-light fs-3 m-2 "></i></a>  

        </div>


      </div>

    </div>

  </header>

</body>


{% endblock %}